.select-enter{
  opacity:0;
  transform: translateY(-20px);
}
.select-enter-done{
  opacity:1;
  background-color: #fff;
  border: 1px solid #e3e3e0;
  border-radius: 0;
  transform: translateY(0);
}

.container-enter{
  opacity: 0;
  transform: scale(0.5);
}
.container-enter-done{
  opacity:1;
  border: 1px solid #e3e3e0;
  border-radius: 0;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.btn-collapsed{
  background-image: url(https://www.metrotransit.org/img/svg/circle-plus-blue.svg);
  transition: background-image 300ms;
}

.btn-expanded{
  background-image: url(https://www.metrotransit.org/img/svg/circle-minus-blue.svg);
  transition: background-image 300ms;
}

.tbl-expanded{
  height: 100%;
}

.tbl-collapsed{
  height: 50%;
  min-height: 200px;
}

@media screen and (max-width: 1024px) {
 
 }